version: '3.7'

volumes:
  locations-api-tmp:

x-locations-api: &locations-api
  build:
    context: .
    dockerfile: Dockerfile.govuk-base
  image: locations-api
  stdin_open: true
  tty: true
  volumes:
    - ${GOVUK_ROOT_DIR:-~/govuk}:/govuk:delegated
    - root-home:/root
    - locations-api-tmp:/govuk/locations-api/tmp
  working_dir: /govuk/locations-api

services:
  locations-api-lite: &locations-api-lite
    <<: *locations-api
    depends_on:
      - postgres-13
      - redis
    environment:
      DATABASE_URL: "postgresql://postgres@postgres-13/locations-api"
      REDIS_URL: redis://redis
      TEST_DATABASE_URL: "postgresql://postgres@postgres-13/locations-api-test"

  locations-api-app: &locations-api-app
    <<: *locations-api
    depends_on:
      - nginx-proxy
      - postgres-13
      - redis
    environment:
      DATABASE_URL: "postgresql://postgres@postgres-13/locations-api"
      REDIS_URL: redis://redis
      VIRTUAL_HOST: locations-api.dev.gov.uk
      BINDING: 0.0.0.0
    expose:
      - "3000"
    command: bin/rails s --restart

  locations-api-worker:
    <<: *locations-api
    depends_on:
      - postgres-13
      - redis
    environment:
      DATABASE_URL: "postgresql://postgres@postgres-13/locations-api"
      REDIS_URL: redis://redis
    command: bundle exec sidekiq -C ./config/sidekiq.yml
