version: '3.7'

volumes:
  content-tagger-tmp:

x-content-tagger: &content-tagger
  build:
    context: .
    dockerfile: Dockerfile.govuk-base
  image: content-tagger
  stdin_open: true
  tty: true
  volumes:
    - ${GOVUK_ROOT_DIR:-~/govuk}:/govuk:delegated
    - root-home:/root
    - content-tagger-tmp:/govuk/content-tagger/tmp
  working_dir: /govuk/content-tagger

services:
  content-tagger-lite:
    <<: *content-tagger
    depends_on:
      - postgres
    environment:
      DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL: "true"
      DATABASE_URL: "postgresql://postgres@postgres/content-tagger"
      TEST_DATABASE_URL: "postgresql://postgres@postgres/content-tagger-test"

  content-tagger-app: &content-tagger-app
    <<: *content-tagger
    depends_on:
      - postgres
      - publishing-api-app
      - nginx-proxy
      - redis
    environment:
      DATABASE_URL: "postgresql://postgres@postgres/content-tagger"
      VIRTUAL_HOST: content-tagger.dev.gov.uk
      REDIS_URL: redis://redis
      BINDING: 0.0.0.0
    expose:
      - "3000"
    command: bin/rails s --restart
