version: '3.7'

volumes:
  home:
  bundle:
  rabbitmq:
  postgres:
  mysql:
  mongo:
  go:
  elasticsearch5:
  elasticsearch6:

x-default-healthcheck: &default-healthcheck
  interval: 10s
  timeout: 20s

services:
  postgres:
    image: postgres:9.6
    healthcheck:
      << : *default-healthcheck
      test: "psql --username 'postgres' -c 'SELECT 1'"
    volumes:
      - postgres:/var/lib/postgresql/data

  memcached:
    image: memcached

  mongo:
    image: mongo:2.4
    healthcheck:
      << : *default-healthcheck
      test: "echo 'db.stats().ok' | mongo localhost:27017/test --quiet"
    volumes:
      - mongo:/data/db
    ports:
      - "27017:27017"
      - "27018:27018"

  mysql:
    image: mysql:5.5.58
    healthcheck:
      << : *default-healthcheck
      test: "mysql --user=root --password=root -e 'SELECT 1'"
    volumes:
      - mysql:/var/lib/mysql
    command: --max_allowed_packet=1073741824
    environment:
      MYSQL_ROOT_PASSWORD: root

  redis:
    image: redis
    healthcheck:
      << : *default-healthcheck
      test: "redis-cli ping"

  rabbitmq:
    image: rabbitmq
    healthcheck:
      << : *default-healthcheck
      test: "rabbitmqctl node_health_check"
    volumes:
      - rabbitmq:/var/lib/rabbitmq

  elasticsearch5:
    image: elasticsearch:5.6.14
    healthcheck:
      << : *default-healthcheck
      test: "curl --silent --fail localhost:9200/_cluster/health || exit 1"
    environment:
      - http.host=0.0.0.0
      - transport.host=127.0.0.1
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    volumes:
      - elasticsearch5:/usr/share/elasticsearch/data

  elasticsearch6:
    image: elasticsearch:6.7.0
    healthcheck:
      << : *default-healthcheck
      test: "curl --silent --fail localhost:9200/_cluster/health || exit 1"
    environment:
      - http.host=0.0.0.0
      - transport.host=127.0.0.1
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    volumes:
      - elasticsearch6:/usr/share/elasticsearch/data
