version: '3.7'

volumes:
  root-home:
  rabbitmq:
  postgres-12:
  postgres-13:
  mysql-8:
  mongo-3.6:
  go:
  elasticsearch-6:
  elasticsearch-7:

networks:
  default:

services:
  postgres-12:
    image: postgres:12
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres-12:/var/lib/postgresql/data

  postgres-13:
    image: postgres:13
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres-13:/var/lib/postgresql/data

  memcached:
    image: memcached

  mongo-3.6:
    image: mongo:3.6
    volumes:
      - mongo-3.6:/data/db
    ports:
      - "27017:27017"
      - "28017:28017"

  mysql-8:
    image: mysql:8-oracle
    volumes:
      - mysql-8:/var/lib/mysql
    command: --max_allowed_packet=1073741824
    environment:
      MYSQL_ROOT_PASSWORD: root

  redis:
    image: redis

  rabbitmq:
    image: rabbitmq
    volumes:
      - rabbitmq:/var/lib/rabbitmq

  elasticsearch-6:
    image: elasticsearch:6.7.0
    environment:
      - http.host=0.0.0.0
      - transport.host=127.0.0.1
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    volumes:
      - elasticsearch-6:/usr/share/elasticsearch/data

  elasticsearch-7:
    image: elasticsearch:7.9.3
    environment:
      - http.host=0.0.0.0
      - transport.host=127.0.0.1
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    volumes:
      - elasticsearch-7:/usr/share/elasticsearch/data

  nginx-proxy:
    image: jwilder/nginx-proxy:latest
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock
      - ./nginx-proxy.conf:/etc/nginx/proxy.conf
    networks:
      default:
        aliases:
          - account-api.dev.gov.uk
          - asset-manager.dev.gov.uk
          - authenticating-proxy.dev.gov.uk
          - bouncer.dev.gov.uk
          - bouncer-redirect.dev.gov.uk
          - collections-publisher.dev.gov.uk
          - collections.dev.gov.uk
          - contacts-admin.dev.gov.uk
          - content-publisher.dev.gov.uk
          - content-data-api.dev.gov.uk
          - content-data-admin.dev.gov.uk
          - content-store.dev.gov.uk
          - content-tagger.dev.gov.uk
          - draft-origin.dev.gov.uk
          - draft-router.dev.gov.uk
          - email-alert-api.dev.gov.uk
          - email-alert-frontend.dev.gov.uk
          - feedback.dev.gov.uk
          - frontend.dev.gov.uk
          - finder-frontend.dev.gov.uk
          - government-frontend.dev.gov.uk
          - govuk-content-schemas.dev.gov.uk
          - govuk-developer-docs.dev.gov.uk
          - govuk-publishing-components.dev.gov.uk
          - hmrc-manuals-api.dev.gov.uk
          - imminence.dev.gov.uk
          - info-frontend.dev.gov.uk
          - licence-finder.dev.gov.uk
          - link-checker-api.dev.gov.uk
          - local-links-manager.dev.gov.uk
          - locations-api.dev.gov.uk
          - manuals-frontend.dev.gov.uk
          - manuals-publisher.dev.gov.uk
          - mapit.dev.gov.uk
          - maslow.dev.gov.uk
          - publisher.dev.gov.uk
          - publishing-api.dev.gov.uk
          - release.dev.gov.uk
          - router-api.dev.gov.uk
          - router.dev.gov.uk
          - search-admin.dev.gov.uk
          - search-api.dev.gov.uk
          - search.dev.gov.uk
          - service-manual-frontend.dev.gov.uk
          - service-manual-publisher.dev.gov.uk
          - short-url-manager.dev.gov.uk
          - signon.dev.gov.uk
          - smart-answers.dev.gov.uk
          - specialist-publisher.dev.gov.uk
          - static.dev.gov.uk
          - support-api.dev.gov.uk
          - support.dev.gov.uk
          - transition.dev.gov.uk
          - travel-advice-publisher.dev.gov.uk
          - whitehall-frontend.dev.gov.uk
          - whitehall-admin.dev.gov.uk
          - www-origin.dev.gov.uk
          - www.dev.gov.uk
          - attributes.login.service.dev.gov.uk
          - www.login.service.dev.gov.uk
