version: '3.7'

volumes:
  home:
  bundle:
  rabbitmq:
  postgres:
  mysql:
  mongo:
  go:
  elasticsearch6:

services:
  postgres:
    image: postgres:9.6
    volumes:
      - postgres:/var/lib/postgresql/data

  memcached:
    image: memcached

  mongo:
    image: mongo:2.4
    volumes:
      - mongo:/data/db
    ports:
      - "27017:27017"
      - "27018:27018"

  mysql:
    image: mysql:5.5.58
    volumes:
      - mysql:/var/lib/mysql
    command: --max_allowed_packet=1073741824
    environment:
      MYSQL_ROOT_PASSWORD: root

  redis:
    image: redis

  rabbitmq:
    image: rabbitmq
    volumes:
      - rabbitmq:/var/lib/rabbitmq

  elasticsearch6:
    image: elasticsearch:6.7.0
    environment:
      - http.host=0.0.0.0
      - transport.host=127.0.0.1
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    volumes:
      - elasticsearch6:/usr/share/elasticsearch/data
