version: '3.7'

volumes:
  email-alert-frontend-tmp:
  email-alert-frontend-node-modules:

x-email-alert-frontend: &email-alert-frontend
  build:
    context: .
    dockerfile: Dockerfile.govuk-base
  image: email-alert-frontend
  stdin_open: true
  tty: true
  volumes:
    - ${GOVUK_ROOT_DIR:-~/govuk}:/govuk:delegated
    - root-home:/root
    - email-alert-frontend-tmp:/govuk/email-alert-frontend/tmp
    - email-alert-frontend-node-modules:/govuk/email-alert-frontend/node_modules
  working_dir: /govuk/email-alert-frontend

services:
  email-alert-frontend-lite:
    <<: *email-alert-frontend
    depends_on:
      - redis
    environment:
      REDIS_URL: redis://redis

  email-alert-frontend-app: &email-alert-frontend-app
    <<: *email-alert-frontend
    depends_on:
      - redis
      - router-app
      - content-store-app
      - static-app
      - email-alert-api-app
      - nginx-proxy
    environment:
      GOVUK_PROXY_STATIC_ENABLED: "true"
      REDIS_URL: redis://redis
      VIRTUAL_HOST: email-alert-frontend.dev.gov.uk
      BINDING: 0.0.0.0
    expose:
      - "3000"
    command: bin/rails s --restart

  email-alert-frontend-app-live:
    <<: *email-alert-frontend-app
    depends_on:
      - redis
      - email-alert-api-app
      - nginx-proxy
    environment:
      REDIS_URL: redis://redis
      GOVUK_WEBSITE_ROOT: https://www.gov.uk
      GOVUK_PROXY_STATIC_ENABLED: "true"
      PLEK_SERVICE_CONTENT_STORE_URI: https://www.gov.uk/api
      PLEK_SERVICE_STATIC_URI: https://assets.publishing.service.gov.uk
      VIRTUAL_HOST: email-alert-frontend.dev.gov.uk
      BINDING: 0.0.0.0
