version: '3.7'

volumes:
  short-url-manager-tmp:
  short-url-manager-node-modules:

x-short-url-manager: &short-url-manager
  build:
    context: .
    dockerfile: Dockerfile.govuk-base
  image: short-url-manager
  stdin_open: true
  tty: true
  volumes:
    - ${GOVUK_ROOT_DIR:-~/govuk}:/govuk:delegated
    - root-home:/root
    - short-url-manager-tmp:/govuk/short-url-manager/tmp
    - short-url-manager-node-modules:/govuk/short-url-manager/node_modules
  working_dir: /govuk/short-url-manager

services:
  short-url-manager-lite:
    <<: *short-url-manager
    depends_on:
      - redis
      - mongo-3.6
    environment:
      MONGODB_URI: "mongodb://mongo-3.6/short-url-manager"
      TEST_MONGODB_URI: "mongodb://mongo-3.6/short-url-manager-test"
      REDIS_HOST: redis
      REDIS_URL: redis://redis

  short-url-manager-app: &short-url-manager-app
    <<: *short-url-manager
    depends_on:
      - redis
      - mongo-3.6
      - nginx-proxy
      - publishing-api-app
    environment:
      MONGODB_URI: "mongodb://mongo-3.6/short-url-manager"
      REDIS_HOST: redis
      REDIS_URL: redis://redis
      VIRTUAL_HOST: short-url-manager.dev.gov.uk
      HOST: 0.0.0.0
    expose:
      - "3000"
    command: bin/rails s --restart
