version: '3.7'

volumes:
  government-frontend-tmp:
  government-frontend-node-modules:

x-government-frontend: &government-frontend
  build:
    context: .
    dockerfile: Dockerfile.govuk-base
  image: government-frontend
  stdin_open: true
  tty: true
  volumes:
    - ${GOVUK_ROOT_DIR:-~/govuk}:/govuk:delegated
    - root-home:/root
    - government-frontend-tmp:/govuk/government-frontend/tmp
    - government-frontend-node-modules:/govuk/government-frontend/node_modules
  working_dir: /govuk/government-frontend

services:
  government-frontend-lite:
    <<: *government-frontend

  government-frontend-app: &government-frontend-app
    <<: *government-frontend
    depends_on:
      - router-app
      - content-store-app
      - static-app
      - nginx-proxy
    environment:
      GOVUK_PROXY_STATIC_ENABLED: "true"
      VIRTUAL_HOST: government-frontend.dev.gov.uk
      BINDING: 0.0.0.0
    expose:
      - "3000"
    command: bin/rails s --restart

  government-frontend-app-live:
    <<: *government-frontend-app
    depends_on:
      - nginx-proxy
    environment:
      GOVUK_WEBSITE_ROOT: https://www.gov.uk
      GOVUK_PROXY_STATIC_ENABLED: "true"
      PLEK_SERVICE_CONTENT_STORE_URI: https://www.gov.uk/api
      PLEK_SERVICE_STATIC_URI: https://assets.publishing.service.gov.uk
      PLEK_SERVICE_SEARCH_API_URI: https://www.gov.uk/api
      VIRTUAL_HOST: government-frontend.dev.gov.uk
      BINDING: 0.0.0.0

  government-frontend-app-integration:
    <<: *government-frontend-app
    depends_on:
      - nginx-proxy
    environment:
      GOVUK_WEBSITE_ROOT: https://www.integration.publishing.service.gov.uk
      GOVUK_PROXY_STATIC_ENABLED: "true"
      PLEK_SERVICE_CONTENT_STORE_URI: https://www.integration.publishing.service.gov.uk/api
      PLEK_SERVICE_STATIC_URI: https://assets.integration.publishing.service.gov.uk
      PLEK_SERVICE_SEARCH_API_URI: https://www.integration.publishing.service.gov.uk/api
      VIRTUAL_HOST: government-frontend.dev.gov.uk
      BINDING: 0.0.0.0
