version: '3.7'

x-government-frontend: &government-frontend
  build:
    context: .
    dockerfile: Dockerfile.govuk-base
  image: government-frontend
  stdin_open: true
  tty: true
  volumes:
    - ${GOVUK_ROOT_DIR:-~/govuk}:/govuk:delegated
    - root-home:/root
  working_dir: /govuk/government-frontend

services:
  government-frontend-lite:
    <<: *government-frontend

  government-frontend-app: &government-frontend-app
    <<: *government-frontend
    depends_on:
      - router-app
      - content-store-app
      - static-app
      - nginx-proxy
    environment:
      ASSET_HOST: government-frontend.dev.gov.uk
      VIRTUAL_HOST: government-frontend.dev.gov.uk
      HOST: 0.0.0.0
    expose:
      - "3000"
    command: bin/rails s --restart

  government-frontend-app-live:
    <<: *government-frontend-app
    depends_on:
      - nginx-proxy
    environment:
      GOVUK_WEBSITE_ROOT: https://www.gov.uk
      PLEK_SERVICE_CONTENT_STORE_URI: https://www.gov.uk/api
      PLEK_SERVICE_STATIC_URI: assets.publishing.service.gov.uk
      VIRTUAL_HOST: government-frontend.dev.gov.uk
      HOST: 0.0.0.0
