version: '3.7'

volumes:
  signon-tmp:
  signon-node-modules:

x-signon: &signon
  build:
    context: .
    dockerfile: Dockerfile.govuk-base
  image: signon
  stdin_open: true
  tty: true
  volumes:
    - ${GOVUK_ROOT_DIR:-~/govuk}:/govuk:delegated
    - root-home:/root
    - signon-tmp:/govuk/signon/tmp
    - signon-node-modules:/govuk/signon/node_modules
  working_dir: /govuk/signon

services:
  signon-lite:
    <<: *signon
    shm_size: 512mb
    depends_on:
      - mysql-8
      - redis
    environment:
      DATABASE_URL: "mysql2://root:root@mysql-8/signon_development"
      TEST_DATABASE_URL: "mysql2://root:root@mysql-8/signon_test"
      REDIS_URL: redis://redis

  signon-app:
    <<: *signon
    depends_on:
      - mysql-8
      - nginx-proxy
      - redis
    environment:
      DATABASE_URL: "mysql2://root:root@mysql-8/signon_development"
      VIRTUAL_HOST: signon.dev.gov.uk
      BINDING: 0.0.0.0
      REDIS_URL: redis://redis
    expose:
      - "3000"
    command: bin/rails s --restart
