version: '3.7'

x-finder-frontend: &finder-frontend
  build:
    context: .
    dockerfile: Dockerfile.govuk-base
  image: finder-frontend
  stdin_open: true
  tty: true
  volumes:
    - ${GOVUK_ROOT_DIR:-~/govuk}:/govuk:delegated
    - home:/home/build
  working_dir: /govuk/finder-frontend

services:
  finder-frontend-lite:
    <<: *finder-frontend
    privileged: true
    depends_on:
      - memcached
    environment:
      MEMCACHE_SERVERS: memcached

  finder-frontend-app: &finder-frontend-app
    <<: *finder-frontend
    depends_on:
      - email-alert-api-app
      - router-app
      - content-store-app
      - static-app
      - search-api-app
      - memcached
      - govuk-account-manager-prototype-app
      - nginx-proxy
    environment:
      ASSET_HOST: finder-frontend.dev.gov.uk
      VIRTUAL_HOST: finder-frontend.dev.gov.uk
      BINDING: 0.0.0.0
      MEMCACHE_SERVERS: memcached
      GOVUK_ACCOUNT_OAUTH_CLIENT_ID: transition-checker-id
      GOVUK_ACCOUNT_JWT_KEY_PEM: "-----BEGIN EC PRIVATE KEY-----\nMHcCAQEEID+UE4jB5QtUFOtekHJliaSB8K2xQU2AS4xczOLAqvCUoAoGCCqGSM49\nAwEHoUQDQgAEjMgE/d6Bdu1K17BTjNycDvIXKSmUgZ5YYoayU3gGqTLhgefuK2qb\no99Wx+SuvdW/GRvIlUIW1ooNRdQ3QFwwCw==\n-----END EC PRIVATE KEY-----\n"
      GOVUK_ACCOUNT_JWT_KEY_UUID: "898d62b7-eed9-464a-a4ae-9d9e08bd9bee"
      GOVUK_ACCOUNT_OAUTH_CLIENT_SECRET: transition-checker-secret
      PLEK_SERVICE_ACCOUNT_MANAGER_URI: "http://www.login.service.dev.gov.uk"
      FEATURE_FLAG_ACCOUNTS: "enabled"
    expose:
      - "3000"
    command: bin/rails s --restart

  finder-frontend-app-live:
    <<: *finder-frontend-app
    depends_on:
      - govuk-account-manager-prototype-app
      - nginx-proxy
    environment:
      PLEK_SERVICE_SEARCH_URI: https://www.gov.uk/api
      PLEK_SERVICE_WHITEHALL_FRONTEND_URI: https://www.gov.uk
      GOVUK_WEBSITE_ROOT: https://www.gov.uk
      PLEK_SERVICE_CONTENT_STORE_URI: https://www.gov.uk/api
      PLEK_SERVICE_STATIC_URI: assets.publishing.service.gov.uk
      VIRTUAL_HOST: finder-frontend.dev.gov.uk
      BINDING: 0.0.0.0
      GOVUK_ACCOUNT_OAUTH_CLIENT_ID: transition-checker-id
      GOVUK_ACCOUNT_JWT_KEY_PEM: "-----BEGIN EC PRIVATE KEY-----\nMHcCAQEEID+UE4jB5QtUFOtekHJliaSB8K2xQU2AS4xczOLAqvCUoAoGCCqGSM49\nAwEHoUQDQgAEjMgE/d6Bdu1K17BTjNycDvIXKSmUgZ5YYoayU3gGqTLhgefuK2qb\no99Wx+SuvdW/GRvIlUIW1ooNRdQ3QFwwCw==\n-----END EC PRIVATE KEY-----\n"
      GOVUK_ACCOUNT_JWT_KEY_UUID: "898d62b7-eed9-464a-a4ae-9d9e08bd9bee"
      GOVUK_ACCOUNT_OAUTH_CLIENT_SECRET: transition-checker-secret
      PLEK_SERVICE_ACCOUNT_MANAGER_URI: "http://www.login.service.dev.gov.uk"
      FEATURE_FLAG_ACCOUNTS: "enabled"
