version: '3.7'

volumes:
  collections-publisher-tmp:
  collections-publisher-node-modules:

x-collections-publisher: &collections-publisher
  build:
    context: .
    dockerfile: Dockerfile.govuk-base
  image: collections-publisher
  stdin_open: true
  tty: true
  volumes:
    - ${GOVUK_ROOT_DIR:-~/govuk}:/govuk:delegated
    - root-home:/root
    - collections-publisher-tmp:/govuk/collections-publisher/tmp
    - collections-publisher-node-modules:/govuk/collections-publisher/node_modules
  working_dir: /govuk/collections-publisher

services:
  collections-publisher-lite:
    <<: *collections-publisher
    shm_size: 512mb
    depends_on:
      - mysql-8
      - redis
    environment:
      DATABASE_URL: "mysql2://root:root@mysql-8/collections_publisher_development"
      TEST_DATABASE_URL: "mysql2://root:root@mysql-8/collections_publisher_test"
      REDIS_URL: redis://redis
      DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL: "true"

  collections-publisher-app: &collections-publisher-app
    <<: *collections-publisher
    depends_on:
      - mysql-8
      - redis
      - content-store-app
      - link-checker-api-app
      - nginx-proxy
      - publishing-api-app
      - collections-publisher-worker
    environment:
      DATABASE_URL: "mysql2://root:root@mysql-8/collections_publisher_development"
      REDIS_URL: redis://redis
      VIRTUAL_HOST: collections-publisher.dev.gov.uk
      BINDING: 0.0.0.0
    expose:
      - "3000"
    command: bin/rails s --restart

  collections-publisher-worker:
    <<: *collections-publisher
    depends_on:
      - redis
      - mysql-8
      - publishing-api-app
    environment:
      DATABASE_URL: "mysql2://root:root@mysql-8/collections_publisher_development"
      REDIS_URL: redis://redis
    command: bundle exec sidekiq -C ./config/sidekiq.yml
