version: '3.7'

volumes:
  static-tmp:

x-static: &static
  build:
    context: .
    dockerfile: Dockerfile.govuk-base
  image: static
  stdin_open: true
  tty: true
  volumes:
    - ${GOVUK_ROOT_DIR:-~/govuk}:/govuk:delegated
    - root-home:/root
    - static-tmp:/govuk/static/tmp
  working_dir: /govuk/static

services:
  static-lite:
    <<: *static

  static-app: &static-app
    <<: *static
    depends_on:
      - redis
      - nginx-proxy
    environment:
      ASSET_HOST: static.dev.gov.uk
      REDIS_URL: redis://redis
      VIRTUAL_HOST: static.dev.gov.uk
      HOST: 0.0.0.0
    expose:
      - "3000"
    command: bin/rails s --restart
