version: '3.7'

volumes:
  search-admin-tmp:
  search-admin-node-modules:

x-search-admin: &search-admin-base
  build:
    context: .
    dockerfile: Dockerfile.govuk-base
  image: search-admin
  stdin_open: true
  tty: true
  volumes:
    - ${GOVUK_ROOT_DIR:-~/govuk}:/govuk:delegated
    - root-home:/root
    - search-admin-tmp:/govuk/search-admin/tmp
    - search-admin-node-modules:/govuk/search-admin/node_modules
  working_dir: /govuk/search-admin

services:
  search-admin-lite:
    <<: *search-admin-base
    depends_on:
      - mysql-8
    environment:
      DATABASE_URL: "mysql2://root:root@mysql-8/search_admin_development"
      TEST_DATABASE_URL: "mysql2://root:root@mysql-8/search_admin_test"
      REDIS_URL: redis://redis
      DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL: "true"

  search-admin-app: &search-admin-app
    <<: *search-admin-base
    depends_on:
      - mysql-8
      - nginx-proxy
      - publishing-api-app
      - search-api-app
    environment:
      # This is predominantly used to display search results in an iframe
      # Hardcode it so it doesn't point to www.dev.gov.uk which doesn't currently work locally
      GOVUK_WEBSITE_ROOT: http://finder-frontend.dev.gov.uk
      DATABASE_URL: "mysql2://root:root@mysql-8/search_admin_development"
      REDIS_URL: redis://redis
      VIRTUAL_HOST: search-admin.dev.gov.uk
      BINDING: 0.0.0.0
    expose:
      - "3000"
    command: bin/rails s --restart
