version: '3.7'

x-email-alert-api: &email-alert-api
  build:
    context: .
    dockerfile: Dockerfile.govuk-base
  image: email-alert-api
  stdin_open: true
  tty: true
  volumes:
    - ${GOVUK_ROOT_DIR:-~/govuk}:/govuk:delegated
    - root-home:/root
  working_dir: /govuk/email-alert-api

services:
  email-alert-api-lite:
    <<: *email-alert-api
    depends_on:
      - postgres
      - redis
    environment:
      DATABASE_URL: "postgresql://postgres@postgres/email-alert-api"
      TEST_DATABASE_URL: "postgresql://postgres@postgres/email-alert-api-test"
      REDIS_URL: redis://redis

  email-alert-api-app: &email-alert-api-app
    <<: *email-alert-api
    depends_on:
      - nginx-proxy
      - postgres
      - redis
    environment:
      DATABASE_URL: "postgresql://postgres@postgres/email-alert-api"
      REDIS_URL: redis://redis
      VIRTUAL_HOST: email-alert-api.dev.gov.uk
      HOST: 0.0.0.0
    expose:
      - "3000"
    command: bin/rails s --restart

  email-alert-api-worker:
    <<: *email-alert-api
    depends_on:
      - postgres
      - redis
    environment:
      DATABASE_URL: "postgresql://postgres@postgres/email-alert-api"
      REDIS_URL: redis://redis
    command: bundle exec sidekiq -C ./config/sidekiq.yml
