version: '3.7'

volumes:
  feedback-tmp:
  feedback-node-modules:

x-feedback: &feedback
  build:
    context: .
    dockerfile: Dockerfile.govuk-base
  image: feedback
  stdin_open: true
  tty: true
  volumes:
    - ${GOVUK_ROOT_DIR:-~/govuk}:/govuk:delegated
    - root-home:/root
    - feedback-tmp:/govuk/feedback/tmp
    - feedback-node-modules:/govuk/feedback/node_modules
  working_dir: /govuk/feedback

services:
  feedback-lite:
    <<: *feedback
    shm_size: 128m

  feedback-app: &feedback-app
    <<: *feedback
    depends_on:
      - redis
      - router-app
      - static-app
      - nginx-proxy
      - support-api-app
      - support-app
    environment:
      GOVUK_PROXY_STATIC_ENABLED: "true"
      REDIS_URL: redis://redis
      VIRTUAL_HOST: feedback.dev.gov.uk
      BINDING: 0.0.0.0
    expose:
      - "3000"
    command: bin/rails s --restart

  feedback-app-live:
    <<: *feedback-app
    depends_on:
      - redis
      - nginx-proxy
    environment:
      GOVUK_WEBSITE_ROOT: https://www.gov.uk
      GOVUK_PROXY_STATIC_ENABLED: "true"
      PLEK_SERVICE_CONTENT_STORE_URI: https://www.gov.uk/api
      PLEK_SERVICE_STATIC_URI: https://assets.publishing.service.gov.uk
      VIRTUAL_HOST: feedback.dev.gov.uk
      BINDING: 0.0.0.0
      REDIS_URL: redis://redis
