version: '3.7'

volumes:
  frontend-tmp:
  frontend-node-modules:

x-frontend: &frontend
  build:
    context: .
    dockerfile: Dockerfile.govuk-base
  image: frontend
  stdin_open: true
  tty: true
  volumes:
    - ${GOVUK_ROOT_DIR:-~/govuk}:/govuk:delegated
    - root-home:/root
    - frontend-tmp:/govuk/frontend/tmp
    - frontend-node-modules:/govuk/frontend/node_modules
  working_dir: /govuk/frontend

services:
  frontend-lite:
    <<: *frontend

  frontend-app: &frontend-app
    <<: *frontend
    depends_on:
      - account-api-app
      - content-store-app
      - nginx-proxy
      - router-app
      - static-app
    environment:
      VIRTUAL_HOST: frontend.dev.gov.uk
      BINDING: 0.0.0.0
    expose:
      - "3000"
    command: bin/rails s --restart

  frontend-app-live:
    <<: *frontend-app
    depends_on:
      - account-api-app-live
      - nginx-proxy
    environment:
      GOVUK_WEBSITE_ROOT: https://www.gov.uk
      GOVUK_PROXY_STATIC_ENABLED: "true"
      PLEK_SERVICE_CONTENT_STORE_URI: https://www.gov.uk/api
      PLEK_SERVICE_STATIC_URI: https://assets.publishing.service.gov.uk
      VIRTUAL_HOST: frontend.dev.gov.uk
      BINDING: 0.0.0.0

  frontend-app-integration:
    <<: *frontend-app
    depends_on:
      - account-api-app-live
      - nginx-proxy
    environment:
      GOVUK_WEBSITE_ROOT: https://www.gov.uk
      GOVUK_PROXY_STATIC_ENABLED: "true"
      #ASSET_MANAGER_BEARER_TOKEN: <get an asset manager token from https://signon.integration.publishing.service.gov.uk/api_users>
      PLEK_SERVICE_ASSET_MANAGER_URI: https://assets-origin.eks.integration.govuk.digital
      PLEK_SERVICE_CONTENT_STORE_URI: https://www.integration.publishing.service.gov.uk/api
      PLEK_SERVICE_STATIC_URI: https://assets-origin.eks.integration.govuk.digital
      VIRTUAL_HOST: frontend.dev.gov.uk
      BINDING: 0.0.0.0
