version: '3.7'

volumes:
  asset-manager-tmp:

x-asset-manager: &asset-manager
  build:
    context: .
    dockerfile: projects/asset-manager/Dockerfile
  image: asset-manager
  tty: true
  stdin_open: true
  volumes:
    - ${GOVUK_ROOT_DIR:-~/govuk}:/govuk:delegated
    - root-home:/root
    - asset-manager-tmp:/govuk/asset-manager/tmp
  working_dir: /govuk/asset-manager

services:
  asset-manager-lite:
    <<: *asset-manager
    depends_on:
      - mongo
      - redis
    environment:
      MONGODB_URI: "mongodb://mongo/asset-manager"
      TEST_MONGODB_URI: "mongodb://mongo/asset-manager-test"
      REDIS_URL: redis://redis

  asset-manager-app: &asset-manager-app
    <<: *asset-manager
    depends_on:
      - mongo
      - redis
      - nginx-proxy
      - asset-manager-worker
    environment:
      MONGODB_URI: "mongodb://mongo/asset-manager"
      REDIS_URL: redis://redis
      VIRTUAL_HOST: asset-manager.dev.gov.uk
      HOST: 0.0.0.0
    expose:
      - "3000"
    command: bin/rails s --restart

  asset-manager-worker:
    <<: *asset-manager
    depends_on:
      - mongo
      - redis
    environment:
      MONGODB_URI: "mongodb://mongo/asset-manager"
      REDIS_URL: redis://redis
      ASSET_MANAGER_CLAMSCAN_PATH: /bin/true
      FAKE_S3_HOST: http://127.0.0.1
      ALLOW_FAKE_S3_IN_PRODUCTION_FOR_PUBLISHING_E2E_TESTS: "true"
    command: bundle exec sidekiq -C ./config/sidekiq.yml
