version: '3.7'

volumes:
  release-tmp:
  release-node-modules:

x-release: &release
  build:
    context: .
    dockerfile: Dockerfile.govuk-base
  image: release
  stdin_open: true
  tty: true
  volumes:
    - ${GOVUK_ROOT_DIR:-~/govuk}:/govuk:delegated
    - root-home:/root
    - release-tmp:/govuk/release/tmp
    - release-node-modules:/govuk/release/node_modules
  working_dir: /govuk/release

services:
  release-lite:
    <<: *release
    depends_on:
      - mysql-8
      - redis
    environment:
      DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL: "true"
      DATABASE_URL: "mysql2://root:root@mysql-8/release_development"
      TEST_DATABASE_URL: "mysql2://root:root@mysql-8/release_test"
      REDIS_URL: redis://redis

  release-app:
    <<: *release
    depends_on:
      - mysql-8
      - nginx-proxy
      - redis
    environment:
      DATABASE_URL: "mysql2://root:root@mysql-8/release_development"
      BINDING: 0.0.0.0
      VIRTUAL_HOST: release.dev.gov.uk
      REDIS_URL: redis://redis
    expose:
      - "3000"
    command: bin/rails s --restart
